.notification-bell {
	width: 6%;
}

.notification-bell img {
	width: 100%;
}


.notification-bell span {
 	position: absolute;
    
    margin-top: -9px;
    font-weight: bold;
    color: #00a65a;
 }

 .notification-bell a {
 	color: #00a65a;
 }


@media (max-width: 767.98px){

.nav-pills:not(.nav-pills-circle) .nav-item {
    padding-right: 0;
    margin-left: 10px;
    margin-top: 10px;
}

 .nav {
    display: flex;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    flex-wrap: inherit;
}

}
